@using AutoCut.Frontend.Stores.Panels
@using AutoCut.Core.Panels
@inherits FluxorComponent
@inject IState<PanelsState> PanelsState

<table>
    <thead>
    <tr>
        <th>Length</th>
        <th>Width</th>
        <th>Quantity</th>
        <th>Name</th>
        <th>Edge banding</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var panel in PanelsState.Value.Panels)
    {
        <tr>
            <td>@panel.Panel.Rectangle.Length</td>
            <td>@panel.Panel.Rectangle.Width</td>
            <td>@panel.Quantity</td>
            <td>@panel.Panel.Name</td>
            <td>@GetEdgeBanding(panel.Panel)</td>
        </tr>
    }
    </tbody>
</table>

@code
{
    static string GetEdgeBanding(Panel panel)
    {
        int BoolToInt(bool b) => b ? 1 : 0;

        var alongLength = BoolToInt(panel.EdgeBanding.Top) + BoolToInt(panel.EdgeBanding.Bottom);
        var alongWidth = BoolToInt(panel.EdgeBanding.Left) + BoolToInt(panel.EdgeBanding.Right);

        return $"{alongLength}, {alongWidth}";
    }
}